strong, strong + a {
  display: inline !important;
  white-space: nowrap;
  margin-right: 0.5em; /* spacing between PDF: and Here */
}


/* Reduce navbar padding and fix page title being obscured */
.navbar {
  padding-top: 0.4rem !important;
  padding-bottom: 0.4rem !important;
}

/* Add top padding to the content so it's not hidden under navbar */
.page-content {
  padding-top: 80px !important;
}
